header{
    width: 100vw;
    height: 80px;
    background-color: #2b2b2b;
    display: grid;
    place-items: center;
}

.box{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    color: #3792E6;
    font: 400 2rem 'Russo One';
}

.links{
    
}

a{
    margin-left: 10px;
    font: 400 1.2rem 'Russo One';
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #3792E6;
}