.grid-item{
    width: 100%;
    height: 250px;
    z-index: 1;
}

.grid-item .grid-content{
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #2b2b2b;
    border-radius: 8px;
    border-bottom: #3792E6 3px solid;
    position: relative;
}

.grid-item .grid-content:hover{
    border-bottom: #fff 3px solid;
}

.repo-name{
    font: 600 32px Arial, sans-serif;
    color: #fff;
    margin-bottom: 15px;
}

.repo-desc{
    margin-top: 250px;
    font: 400 16px Arial, sans-serif;
    color: #6b6b6b;
}

.grid-item .grid-content a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10px;
    border-radius: 16px;
    bottom: 10px;
    width: max-content;
    height: 40px;
    background: #101010;
    color: gold;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-item .grid-content a:hover > .stars{
    display: block;
}

.stars{
    margin: 0 5px 0 5px;
    display: none;
}

.grid-item .grid-content img{
    height: 20px;
    width: 20px;
}

.repo-language{
    margin-top: 10px;
    width: max-content;
    height: max-content;
    padding: 5px 10px 5px 10px;
    background: #2b2b2b;
    border: #3792E6 1px solid;
    border-radius: 20px;
    color: #3792E6;
    font: 400 12px Arial, sans-serif;
}