.projects-page{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.title-projects{
    font: 400 4rem 'Russo One';
    color: white;
}

.grid-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 25px;
}

@media (max-width: 600px){
    .grid-projects{
        grid-template-columns: 1fr;
    }
}